<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} The Miro's Django blog {% endblock %}</title> {# this a mother template that can be use to child template, in blog app #}


<style> {# add picture to web #}
body {

        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Field-with-snow-champ-enneige.jpg/1200px-Field-with-snow-champ-enneige.jpg");
            background-repeat: no-repeat;
            background-size: cover;
}
</style>
</head>

<body>


    <nav>
    
        <a href="#">Home</a> 
        <a href="#">Blog</a>
        <a href="#">Contact</a>
        <a href="#">Career</a>
    
    </nav>

    {% block content %}

    {% endblock %}


    <hr>

    {% block footer %}
        This is footer.           
    {% endblock %}


</body>
</html>