<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} The Miro's Django blog {% endblock %}</title> {# this a mother template that can be use to child template, in blog app #}


<style> {# add picture to web #}
body {

        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg/1920px-Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
            background-repeat: no-repeat;
            background-size: cover;
}
</style>
</head>

<body>


    <nav>
    
        <a href="#">Home</a> 
        <a href="#">Blog</a>
        <a href="#">Contact</a>
        <a href="#">Career</a>
    
    </nav>

    {% block content %}

    {% endblock %}


    <hr>

    {% block footer %}
    <font color="red">
        This is footer.    
    </font>        


    {% endblock %}


</body>
</html>