{% extends "base.html" %}        {# Link to parent template base, #}
                                {# when something is changed in base its changed here e.g. content #}
 
  {% block content %} 
 
    {% if now %}   
        <p><b>Current date and time is {{ now }}</b></p>
    {% else %}               
        <p>now variable is not available</p>
    {% endif %}
 
    <p>Current scheme: {{ request.scheme }}</p>

    <p>BASE_DIR : {{ base_dir }} </p>
 
{% endblock %}

{% block footer %}
    {{ block.super }} {# parent footer #}
    <p>All rights reserved</p> {# this template footer #}
{% endblock %}